.todo-form{

    max-width: 30.5rem;
}

.todo-form__controls{
    display: flex;
    align-items: flex-end;
}

.todo-form__error{
    color: red;
    line-height: 1.7rem;
    min-height: 1.7rem;
    /* margin-top: -1rem; */
}