
.name-warning{color: red;}

.btn-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    width: 300px;
    height: 100px;
    padding: 5px;
    background-color: rgb(178, 182, 245);
    margin: 0 auto;
    gap: 16px; 
    border-radius: 8px;
    border: 1px solid var(--primary-primary, #FE3756);
    background: var(--primary-primary, #FE3756);
}
